# Worlds
state/

# Configs
config/
release-notes.txt

# Dist files
data/
definitions/
resource_packs/
bedrock_server/
behavior_packs/
bedrock_server_how_to.html
profanity_filter.wlist
bedrock_server

backups/